<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RemoveAllBookCart</servlet-name>
  	<display-name>RemoveAllBookCart</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RemoveAllBookCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WishListServlet</servlet-name>
  	<display-name>WishListServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.WishListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WishListAddCartServlet</servlet-name>
  	<display-name>WishListAddCartServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.WishListAddCartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveBookWishList</servlet-name>
  	<display-name>RemoveBookWishList</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RemoveBookWishList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CountCartBookServlet</servlet-name>
  	<display-name>CountCartBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.CountCartBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteNABookServlet</servlet-name>
  	<display-name>DeleteNABookServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.DeleteNABookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookOrderCancelServlet</servlet-name>
  	<display-name>BookOrderCancelServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.BookOrderCancelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderDispatched</servlet-name>
  	<display-name>OrderDispatched</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.OrderDispatched</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderCancelServlet</servlet-name>
  	<display-name>OrderCancelServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.OrderCancelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderShiped</servlet-name>
  	<display-name>OrderShiped</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.OrderShiped</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPassword</servlet-name>
  	<display-name>ForgotPassword</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.ForgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPass</servlet-name>
  	<display-name>ForgotPass</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RemoveAllBookCart</servlet-name>
  	<url-pattern>/RemoveAllBookCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WishListServlet</servlet-name>
  	<url-pattern>/WishListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WishListAddCartServlet</servlet-name>
  	<url-pattern>/WishListAddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveBookWishList</servlet-name>
  	<url-pattern>/RemoveBookWishList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CountCartBookServlet</servlet-name>
  	<url-pattern>/CountCartBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteNABookServlet</servlet-name>
  	<url-pattern>/DeleteNABookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookOrderCancelServlet</servlet-name>
  	<url-pattern>/BookOrderCancelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderDispatched</servlet-name>
  	<url-pattern>/OrderDispatched</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderCancelServlet</servlet-name>
  	<url-pattern>/OrderCancelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderShiped</servlet-name>
  	<url-pattern>/OrderShiped</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPassword</servlet-name>
  	<url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPass</servlet-name>
  	<url-pattern>/ForgotPass</url-pattern>
  </servlet-mapping>
</web-app>
